<div id="principal">
    <div id="secondary">
        <div id="conteudo">
            <div class="row">
                <h2>Seja Bem Vindo!</h2>
            </div>
        </div>


        <div id="login">
            <form>
                <h2>Login</h2>
                <div class="row">
                    <div class="col-12">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="password" placeholder="Senha" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-secondary btn-block">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Secondary-->
</div>
<!--Principal-->