input {    
    margin-bottom: 10px;
}

textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: #40407a;
}

.corpo {
    margin-top: 20px;
    margin-bottom: 120px;
}